<!DOCTYPE html>
<html>
<head>
    
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    
        {{>header}}
        <h2>Error: 404</h2>
        <p>{{error_msg}}</p>
    </div>    
    {{>footer}}
</body>
</html>