<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h2>This help section is created by: {{name}}</h2>
        <p> Help for {{desc}} </p>
    </div>
    {{>footer}}
</body>
</html>